.header 
    position: sticky
    top: 0
    z-index: 200
    background: #fff
    @media mobile
        margin-bottom: 50px;

    [data-scrolling-mode=down] &
        box-shadow: 0 0 10px rgba(0,0,0,.3)
    &__topbar
        background: #6ABCB4
        height: 40px
        display: flex
        align-items: center
        justify-content: center
        gap: 35px
        @media mobile
            display: none
        > div
            color: #fff
            display: flex
            align-items: center
            justify-content: center
            gap: 3px
            svg
                margin-left: 30px
                margin-right: 10px
                width: 46px
        .divisor
            background: #fff
            display: block
            height: 25px
            width: 2px
    
    &__container 
        max-width: 1140px
        display: flex 
        justify-content: space-between
        align-items: center
        margin: 0 auto
        padding: 5px 15px

        &:before 
            content: ''
            position: absolute 
            top: 0 
            left: 0 
            z-index: 2
            width: 100% 
            height: 100%
            background: #fff

    &__logo, &__menu, &__customer, &__minicart 
        position: relative 
        z-index: 3
    &__central
        display: flex
        gap: 48px
        align-items: center
        justify-content: center
        > div
            position: relative
            &:not(.header__logo)
                @media mobile
                    display: none
            &:hover
                ul
                    opacity 1
                    visibility: visible
            h3
                font-size: 16px
                font-weight: 500
                color: #4D4D4D
                display: flex
                align-items: center
                justify-content: center
                gap: 5px
                cursor: pointer
                height: 65px
                &:after
                    display: block
                    content ""
                    width: 11px
                    height: 6px
                    background: url("../img/setaDown.png")
            ul
                position: absolute
                top: 100%
                height: auto
                width: 200px
                left: 0
                background: #fff
                padding: 20px 30px
                border-radius: 5px
                z-index 10
                box-shadow: 0 0 15px #0004
                opacity 0
                visibility: hidden
                li
                    a
                        color: #4D4D4D
                        font-size: 14px
                        font-weight: 400
                        padding: 3px 0
                        display: block

        .header__logo
            margin: 0 17px
    &__right
        display: flex
        gap: 22px
        align-items: center
        height: 15px
    &__left
        @media desktop
            width: 95px
    &__minicart
        a.cart
            display: flex
            align-items: center
    &__logo 
        flex: 1 

    &__customer 
        display: flex
        align-items: center
        position relative
          
    @media mobile
        &__search 
            position: absolute 
            top: 100% 
            left: 0 
            width: 100% 
            z-index: 1

            [data-scrolling-mode=down] &
                transform: translate3d(0, -100%, 0)

@media (min-width: 992px) 
    .header 

        &__container 
            position: relative 
            z-index: 20
            box-shadow: 700px 0 0 #fff, -700px 0 0 #fff
            background: #fff
            height: 96px
            &:before 
                display: none 

        &__menu 
            display: none

        &__logo
            flex: 0 0 auto

        &__attendance 
            display: block


.infobox.danger
    display: none
