.page-contact
    .topBorder, a.Mapa
        display: none
    input[type="image"],
    button#imagem
        width: 140px
        height: 44px
        background: color
        border: none
        background-position: center
        border-radius 10px
        margin: auto
        font-size: 16px
        text-transform: uppercase
    .main
        background: #FAFAFA
    
    .main__container
        padding 63px 0
        .formulario-contato 
            width: 100%
            display: flex
            flex-wrap: wrap
            label 
                margin: 0 5px 35px;
                width: 420px;
                &:nth-child(7)
                    width: 100%
                #spanTextarea
                    textarea
                        width: 1330px
                        max-width: 100%
                        height 143px
                        border-radius: 20px
        .msg-obriga
            text-align: center
            font-size: 0
            width: 100%
            margin-bottom: 25px
            &:before
                font-size: 12px
                letter-spacing: .2px
                line-height: 15px
                color #131313
                content: "Campos marcados com * asterisco são de preenchimento obrigatório."
        .text
            width: 420px
            max-width: 100%
            border-radius: 50px
            border 1px solid #EBEBEB
            .obriga
                border-left: solid 1px #EBEBEB
        > .board
            display: none
        > .container3:first-child
            text-align: center;
            &:before
                text-align: center

                content: "Contato"
                font-size: 25px
                line-height: 30px
                width: 100%


        > .container3
            > .board
                display: none

            > .container2
                > .board
                    display: none
                .tit-contato
                    display: none