{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 12 %}
{% endif %}

{% set showAvailable = settings.show_available_products ? 'available' %}

{% element 'snippets/lgpd-alert' %}

<div class="page-home__banner">{% element 'snippets/banner' {'name': 'extra1'} %}</div>

{% set products = Products({
    'categories': settings.showcaseCategory01,
    'filter': settings.showcaseFilter01,
    'limit': settings.showcaseQuantity01,
    'order': {'quantity_sold': 'desc'}
}) %}
{% if settings.showcaseShow01 %}
    {% element 'showcase' {
        "products": products,
        "showcaseTitle": settings.showcaseName01,
        "carousel": "true"
    } %}
{% endif %}

{% element 'snippets/categorias' %}

</div>
{% element 'snippets/banner' {'name': 'extra2'} %}
<div class="main__container">
{% element 'snippets/receitas' %}
</div>
{% element 'snippets/blog' %}
<div class="main__container">

{% element 'snippets/comentarios' %}
