{% if banner.title %}
<div class="banner banner--product">
    {{ banner.title }}
</div>
{% endif %}

{% element 'snippets/breadcrumb' { "class": 'breadcrumb'} %}

<section class="page-product__essential" itemscope itemtype="http://schema.org/Product">
    <article style="display: none">
        {% set dateFinal = product.deactivation_date | split('-')  %}
        {% set dateModified = product.modified | split('-')  %}
        {% set year = dateFinal[0] <= 0 ? dateModified[0] + 50 : product.deactivation_date %}
        {% set month = dateFinal[1] <= 0 ? dateModified[1] + 01 : product.deactivation_date %}
        {% set day = dateFinal[2] <= 0 ? dateModified[2] + 01 : product.deactivation_date %}
        {% set dateDeactivation =  dateFinal[0] <= 0 ? year ~ "-" ~ month ~ "-" ~ day : product.deactivation_date %}

        <span itemprop="brand">{{ product.brand }}</span>
        <span itemprop="sku">{{ product.id }}</span>
        <span
            itemprop="description">{{ product.description ? product.description : product.description_small }}</span>
        <span itemprop="gtin8">{{ product.id }}</span>

        {% if product.ranking.rating >= 5 %}
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">{{product.ranking.rating}}</span>
            <span itemprop="reviewCount">{{ product.ranking.count }}</span>
        </div>
        {% else %}
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">4</span>
            <span itemprop="reviewCount">4</span>
        </div>
        {% endif %}
        <ul itemprop="review" itemscope itemtype="http://schema.org/Review">
            {% set author = comment.customer.name != "" ? comment.customer.name : "Anônimo" %}

            {% if author == "Anônimo" %}
            <span itemprop="author">{{ author }}</span>
            {% endif %}

            {% for comment in product.comments %}

            {% set author = comment.customer.name != "" ? comment.customer.name : "Anônimo" %}

            <span itemprop="name"> {{ comment.rating }} </span>
            <span itemprop="author">{{ author }}</span>
            <meta itemprop="datePublished" content="{{ comment.date }}">{{ comment.date }}
            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1" />
                <span itemprop="ratingValue">{{ comment.rating }}</span>
                <span itemprop="bestRating">{{ comment.rating }}</span>
            </div>
            <span itemprop="description">{{ comment.comment }}</span>

            {% endfor %}
        </ul>


        <a href="{{ product.link }}">
            <img class="img-responsive lazy" data-original="{{ product.images[0].full }}"
                src="{{ asset('img/loading.gif') }}" alt="{{ product.name }}" itemprop="image" layout="responsive">
        </a>

        <div class="preco-por" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <div style="display: none !important;">
                <span itemprop="priceValidUntil"> {{ dateDeactivation }}</span>
                <a itemprop="url" href="{{ product.link }}"> {{ product.link }} </a>

                {% if product.available and product.stock > 0 %}
                <link itemprop="availability" href="http://schema.org/InStock" />In stock
                {% else %}
                <meta itemprop="availability" content="http://schema.org/SoldOut">
                {% endif %}
            </div>
            <strong>
                <span itemprop="priceCurrency" content="BRL">R$ </span>
                <span itemprop="price" content="{{ product.price_offer }}">{{ product.price_offer|currency }}</span>
            </strong>
        </div>

    </article>


    <div class="page-product__header">
        <h1 class="page-product__name" itemprop="name">{{ product.name }}</h1>
        {% if product.additional_message %}
            <div class="additional-message">
                {{ product.additional_message }}
            </div>
        {% endif %}

        <div class="page-product__short-review">
            {% element 'snippets/rating-short' { 'product': product } %}
        </div>

    </div>

    <div class="page-product__image">

        {% if product.images %}
        <div id="visualBlock"
            class="page-product__gallery {{ product.images|length  <= 1 and not product.video ? 'hide-carousel' }}">
            {{ productHelper.gallery() }}
        </div>
        {% else %}
        <div class="product-product__gallery page-product__gallery--no-image">
            <img src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada">
        </div>
        {% endif %}

        <div class="page-product__labels">
            {{ productHelper.labels() }}
        </div>

    </div>

    <div class="page-product__details">
        {% if  product.description_small %}
            <div class="description_small">
                {{ product.description_small }}
            </div>
        {% endif %}
        <form id="form_comprar" method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}">

            {% if product.available != 0 %}
                {{ productHelper.variants() }}
            {% endif %}

            <div data-module="pricing" data-snippet="snippets/pricing" data-product-id="{{ product.id }}">
                <div class="pricing">
                    Carregando...
                </div>
            </div>

            {{ productHelper.gifts() }}
            {{ product.additional_information }}
            <div class="page-product__actions">
                {#
                # Botões de mais e menos para aumentar ou diminuir a quantidade do produto
                # elements/snippets/botoes_qty.html
                #}
                <div data-app="product.quantity" id="quantidade">
                    <span id="span_erro_carrinho" class="blocoAlerta" style="display:none;">Selecione uma opção para variação do produto</span>
                    <input type="button" id="minus" value='-' onclick="process(-1)" />
                    <input id="quant" name="quant" class="text" size="1" type="text" value="1" maxlength="5" />
                    <input type="button" id="plus" value='+' onclick="process(1)">
                </div>
                <button type="submit">Comprar <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.973 17.0416C24.1292 17.0416 25.1467 16.4095 25.6709 15.4537L31.1901 5.44825C31.7605 4.43075 31.0205 3.16659 29.8488 3.16659H7.03216L5.583 0.083252H0.541748V3.16659H3.62508L9.17508 14.8678L7.09383 18.6295C5.96841 20.6953 7.44841 23.2083 9.79175 23.2083H28.2917V20.1249H9.79175L11.4876 17.0416H22.973ZM8.49653 6.25H27.2278L22.9728 13.9583H12.1503L8.49653 6.25ZM9.79168 24.75C8.09585 24.75 6.72376 26.1375 6.72376 27.8333C6.72376 29.5292 8.09585 30.9167 9.79168 30.9167C11.4875 30.9167 12.875 29.5292 12.875 27.8333C12.875 26.1375 11.4875 24.75 9.79168 24.75ZM25.2083 24.75C23.5125 24.75 22.1404 26.1375 22.1404 27.8333C22.1404 29.5292 23.5125 30.9167 25.2083 30.9167C26.9042 30.9167 28.2917 29.5292 28.2917 27.8333C28.2917 26.1375 26.9042 24.75 25.2083 24.75Z" fill="white"/>
                    </svg>
                    </button>
            </div>
            {{ productHelper.kit() }}

            
        </form>
    </div>
</section>

{% element 'snippets/product-tabs' { 'product': product, 'productTabs': productTabs } %}

{% element 'buy-together' %}


{% if product.related_products %}
<div id="prognoos_lsi"></div>
<section class="products-related">
    <h3 class="related-title">{{ Translation('produtos_relacionados') }}</h3>
    <div class="row">
        {% for related in product.related_products %}
        <div class="col-sm-3">
            {% element 'snippets/product' {"product": related} %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

<div id="prognoos_ib"></div>


{% if banner.bottom %}
<div class="banner banner-bottom {% if not settings.enable_banner_default %}mobile-off{% endif %}">
    {{ banner.bottom }}
</div>
{% endif %}

<div id="loading-product-container"
    style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; justify-content: center; align-items: center; display: none;">
    <img src="https://images.tcdn.com.br/580246/themes/45/img/loading2.gif?f4417d34cfceac1cba630f07849e656c1601645070"
        width="60" height="60"></div>