</div>
<div class="breadcrumb">
    <div class="breadcrumb__container">
        <span class="breadcrumb__item">
            <a class="breadcrumb__label" href="/">Home</a>
        </span>
        {% if breadcrumb %}
            <span class="breadcrumb__sep"><svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.29363 8.24616L1.13696 2.153L2.33085 0.971435L9.6814 8.24616L2.33084 15.5209L1.13696 14.3393L7.29363 8.24616Z" fill="#5E5E6D" stroke="#5B5B5B" stroke-width="0.779762"/>
                </svg>
                </span>
            {% for item in breadcrumb %}
                <span class="breadcrumb__item">
                    <a class="breadcrumb__label" href="{{ item.link}}" title="{{ item.name }}">{{ item.name }}</a>
                </span>
                <span class="breadcrumb__sep"><svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.29363 8.24616L1.13696 2.153L2.33085 0.971435L9.6814 8.24616L2.33084 15.5209L1.13696 14.3393L7.29363 8.24616Z" fill="#5E5E6D" stroke="#5B5B5B" stroke-width="0.779762"/>
                    </svg>
                    </span>
            {% endfor %}
            <span class="breadcrumb__item">
                <span class="breadcrumb__label">
                    {{ pages.current == 'product' ? product.name : category.name }}
                </span>
            </span>
        {% endif %}
    </div>
</div>
<div class="main__container">