
<section class="comentario" data-carousel="true">
    <div class="comentario__container container">
        <div class="comentario__header">
            <h3 class="comentario__title titulo">
                <span>
                Emana comentarios
            </span>
            </h3>
        </div>
        <div class="comentario__content">
            {% if settings.comentario1_nome%}
                <div class="comentario__item">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="56" viewBox="0 0 28 56">
                            <text id="_" data-name="	&#8221;" transform="translate(14 44)" fill="#4d4d4d" font-size="54.373" font-family="Axiforma-SemiBold, Axiforma" font-weight="600"><tspan x="-13.512" y="0">&#8221;</tspan></text>
                          </svg>
                          
                        <svg xmlns="http://www.w3.org/2000/svg" width="113.74" height="16.111" viewBox="0 0 113.74 16.111">
                            <g id="Grupo_12" data-name="Grupo 12" transform="translate(-616.184 -4760.003)">
                              <path id="Caminho_1172" data-name="Caminho 1172" d="M624.654,4760l2.617,5.3,5.853.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1173" data-name="Caminho 1173" d="M648.854,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1174" data-name="Caminho 1174" d="M673.054,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1175" data-name="Caminho 1175" d="M697.254,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.853-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1176" data-name="Caminho 1176" d="M721.454,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                            </g>
                        </svg>
                    </figure>
                    <h4>
                        {{ settings.comentario1_nome}}
                    </h4>
                    <span>{{ settings.comentario1_text}}</span>
                </div>
            {% endif %}
            {% if settings.comentario2_nome%}
                <div class="comentario__item">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="56" viewBox="0 0 28 56">
                            <text id="_" data-name="	&#8221;" transform="translate(14 44)" fill="#4d4d4d" font-size="54.373" font-family="Axiforma-SemiBold, Axiforma" font-weight="600"><tspan x="-13.512" y="0">&#8221;</tspan></text>
                          </svg>
                          
                        <svg xmlns="http://www.w3.org/2000/svg" width="113.74" height="16.111" viewBox="0 0 113.74 16.111">
                            <g id="Grupo_12" data-name="Grupo 12" transform="translate(-616.184 -4760.003)">
                              <path id="Caminho_1172" data-name="Caminho 1172" d="M624.654,4760l2.617,5.3,5.853.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1173" data-name="Caminho 1173" d="M648.854,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1174" data-name="Caminho 1174" d="M673.054,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1175" data-name="Caminho 1175" d="M697.254,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.853-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1176" data-name="Caminho 1176" d="M721.454,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                            </g>
                        </svg>
                    </figure>
                    <h4>
                        {{ settings.comentario2_nome}}
                    </h4>
                    <span>{{ settings.comentario2_text}}</span>
                </div>
            {% endif %}
            {% if settings.comentario3_nome%}
                <div class="comentario__item">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="56" viewBox="0 0 28 56">
                            <text id="_" data-name="	&#8221;" transform="translate(14 44)" fill="#4d4d4d" font-size="54.373" font-family="Axiforma-SemiBold, Axiforma" font-weight="600"><tspan x="-13.512" y="0">&#8221;</tspan></text>
                          </svg>
                          
                        <svg xmlns="http://www.w3.org/2000/svg" width="113.74" height="16.111" viewBox="0 0 113.74 16.111">
                            <g id="Grupo_12" data-name="Grupo 12" transform="translate(-616.184 -4760.003)">
                              <path id="Caminho_1172" data-name="Caminho 1172" d="M624.654,4760l2.617,5.3,5.853.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1173" data-name="Caminho 1173" d="M648.854,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1174" data-name="Caminho 1174" d="M673.054,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1175" data-name="Caminho 1175" d="M697.254,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.853-.851Z" fill="#e5961e"/>
                              <path id="Caminho_1176" data-name="Caminho 1176" d="M721.454,4760l2.617,5.3,5.852.851-4.235,4.128,1,5.829-5.235-2.752-5.235,2.752,1-5.829-4.235-4.128,5.852-.851Z" fill="#e5961e"/>
                            </g>
                        </svg>
                    </figure>
                    <h4>
                        {{ settings.comentario3_nome}}
                    </h4>
                    <span>{{ settings.comentario3_text}}</span>
                </div>
            {% endif %}
        </div>
    </div>
</section>
