<div class="lgpd-alert">
    <p>
        {% if settings.textLGPD %}
            {{ settings.textLGPD }}
        {% else %}
            Utilizamos cookies para oferecer melhor experiência, melhorar o desempenho, analisar como você interage em nosso site e personalizar conteúdo. Ao utilizar este site, você concorda com o uso de cookies.
        {% endif %}
        </p>
    <button class="lgpd-alert__close">
        {% if settings.buttonLGPD %}
            {{ settings.buttonLGPD }}
        {% else %}
            Ok, entendi
        {% endif %}
</button>
</div>