{% set description = productTabs['description'] %}
{% set included = productTabs['included_items'] %}
{% set warranty = productTabs['warranty'] %}
{% set payments = productTabs['payment_methods'] %}
{% set comments = productTabs['comments'] %}
</div>
<section class="product-tabs product-tabs--line">
    {# Description #}
    {% if description %}
        {% set descriptionContent = product.description ? product.description : product.description_-medium %}
        {% if descriptionContent %}
        <div class="descricao">{{ descriptionContent }}</div>
        {% endif %}
    {% endif %}              
</section>
<div class="main__container">
{% set customTabs = [] %}
{% for key, tab in productTabs %}
    {% if 'AdditionalTab' in key %} 
        {% set customTabs = customTabs|merge([tab]) %} 
    {% endif %}
{% endfor %}

{% if customTabs|length %}
<section class="product-tabs product-tabs--custom">
    <div class="product-tabs__tabs">
        {% for tab in customTabs %}
            <div class="product-tabs__tab">
                <h3 class="product-tabs__title title title--medium">
                    <a aria-controls="content-tabs" href="{{ tab['container_id'] }}" class="product-tabs__link">{{ tab['description'] }}</a>
                </h3>
            </div>
        {% endfor %}
    </div>

    <div id="content-tabs" data-fixed="false" class="product-tabs__contents" aria-hidden="true" >
        {{ productTabs['custom']['content'] }}
        <button aria-controls="content-tabs" class="product-tabs__contents-mask" type="button"></button>
    </div>
</section>
{% endif %}

