<article class="product">
    <article style="display: none">
        {% set dateFinal = product.deactivation_date | split('-')  %}
        {% set dateModified = product.modified | split('-')  %}
        {% set year = dateFinal[0] <= 0 ? dateModified[0] + 50 : product.deactivation_date %}
        {% set month = dateFinal[1] <= 0 ? dateModified[1] + 01 : product.deactivation_date %}
        {% set day = dateFinal[2] <= 0 ? dateModified[2] + 01 : product.deactivation_date %}
        {% set dateDeactivation =  dateFinal[0] <= 0 ? year ~ "-" ~ month ~ "-" ~ day : product.deactivation_date %}

        <span itemprop="brand">{{ product.brand }}</span>
        <span itemprop="sku">{{ product.id }}</span>
        <span
            itemprop="description">{{ product.description ? product.description : product.description_small }}</span>
        <span itemprop="gtin8">{{ product.id }}</span>

        {% if product.ranking.rating >= 5 %}
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">{{product.ranking.rating}}</span>
            <span itemprop="reviewCount">{{ product.ranking.count }}</span>
        </div>
        {% else %}
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">4</span>
            <span itemprop="reviewCount">4</span>
        </div>
        {% endif %}
        <ul itemprop="review" itemscope itemtype="http://schema.org/Review">
            {% set author = comment.customer.name != "" ? comment.customer.name : "Anônimo" %}

            {% if author == "Anônimo" %}
            <span itemprop="author">{{ author }}</span>
            {% endif %}

            {% for comment in product.comments %}

            {% set author = comment.customer.name != "" ? comment.customer.name : "Anônimo" %}

            <span itemprop="name"> {{ comment.rating }} </span>
            <span itemprop="author">{{ author }}</span>
            <meta itemprop="datePublished" content="{{ comment.date }}">{{ comment.date }}
            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1" />
                <span itemprop="ratingValue">{{ comment.rating }}</span>
                <span itemprop="bestRating">{{ comment.rating }}</span>
            </div>
            <span itemprop="description">{{ comment.comment }}</span>

            {% endfor %}
        </ul>


        <a href="{{ product.link }}">
            <img class="img-responsive lazy" data-original="{{ product.images[0].full }}"
                src="{{ asset('img/loading.gif') }}" alt="{{ product.name }}" itemprop="image" layout="responsive">
        </a>

        <div class="preco-por" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <div style="display: none !important;">
                <span itemprop="priceValidUntil"> {{ dateDeactivation }}</span>
                <a itemprop="url" href="{{ product.link }}"> {{ product.link }} </a>

                {% if product.available and product.stock > 0 %}
                <link itemprop="availability" href="http://schema.org/InStock" />In stock
                {% else %}
                <meta itemprop="availability" content="http://schema.org/SoldOut">
                {% endif %}
            </div>
            <strong>
                <span itemprop="priceCurrency" content="BRL">R$ </span>
                <span itemprop="price" content="{{ product.price_offer }}">{{ product.price_offer|currency }}</span>
            </strong>
        </div>

    </article>

    <div class="product__header">
        <figure class="product__figure">
        {% if product.images %}
            <a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">
            
                <img class="product__image lazy-new" 
                src="{{ product.images[0].small }}" 
                data-src="{{ product.images[0].full }}" 
                data-srcset="{{ product.images[0].full }}" 
                alt="{{ product.name }}"
                title="{{ product.name }}"
                width="180"
                height="180"
                layout="responsive">

            </a>
        {% else %}
            <a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">
                <img class="product__image lazy-new" 
                src="{{ product.images[0].small }}" 
                data-src="{{ product.images[0].full }}" 
                data-srcset="{{ product.images[0].full }}" 
                alt="{{ product.name }}"
                title="{{ product.name }}"
                width="180"
                height="180"
                layout="responsive">
            </a>
        {% endif %}
        </figure>
        
        {% if settings.discount %}
            {% set porcentagemDesconto = 100 - ( product.price_offer / product.price ) * 100 %}
            {% if porcentagemDesconto < 100 %}
                <span class="discount"> {{ porcentagemDesconto|number_format }}% de desconto </span>
            {% endif %}  
        {% endif %}             
    </div>

    <div class="product__main">
        <h1 class="product__name"><a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">{{ product.name }}</a></h1>

        <span class="product__description">
            {{ product.description_small }}
        </span>
        <div data-module="pricing" data-snippet="snippets/product-payment" data-product-id="{{ product.id }}">
            <div class="pricing">
                Carregando...
            </div>
        </div>
    </div>
    {% if product.stock > 0 %} 
    <div class="product__actions">
        <a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" >
            Comprar
            <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.9729 17.0417C24.1292 17.0417 25.1467 16.4096 25.6708 15.4538L31.19 5.44837C31.7604 4.43087 31.0204 3.16671 29.8487 3.16671H7.03207L5.58291 0.083374H0.541656V3.16671H3.62499L9.17499 14.868L7.09374 18.6296C5.96832 20.6955 7.44832 23.2084 9.79166 23.2084H28.2917V20.125H9.79166L11.4875 17.0417H22.9729ZM8.49659 6.25H27.2278L22.9728 13.9583H12.1503L8.49659 6.25ZM9.79165 24.75C8.09582 24.75 6.72373 26.1375 6.72373 27.8333C6.72373 29.5292 8.09582 30.9167 9.79165 30.9167C11.4875 30.9167 12.875 29.5292 12.875 27.8333C12.875 26.1375 11.4875 24.75 9.79165 24.75ZM25.2083 24.75C23.5125 24.75 22.1404 26.1375 22.1404 27.8333C22.1404 29.5292 23.5125 30.9167 25.2083 30.9167C26.9042 30.9167 28.2916 29.5292 28.2916 27.8333C28.2916 26.1375 26.9042 24.75 25.2083 24.75Z" fill="white"/>
            </svg>
                
        </a>
    </div>
    {% endif %}
    
</article>

