.blog
    background: #EEF2F6
    padding: 60px 0
    &__header
        margin-bottom: 10px
        text-align: center
    
    &__button
        font-size: 18px
        letter-spacing: .2px
        font-weight: 700
        color: #1F1F1F
        text-decoration: underline
        display block
        margin-left: auto
        margin-bottom: 20px
        text-align: right
    &__content
        display: flex
        justify-content: space-between
        gap: 15px
        @media mobile
            justify-content: center
            flex-wrap: wrap;
    &__item
        figure
            position relative
            margin-bottom: 15px
            display: flex
            flex-direction: column
            span
                font-size: 21px
                font-weight: 700
                color: #A7A8A9
                margin-top: 15px
                display: block
        h4
            font-size: 24px
            font-weight: 700
            color: #4D4D4D
            margin-bottom: 10px

        a
            font-size: 18px
            font-weight: 700
            letter-spacing: .2px
            text-decoration: underline
            color: #464646
