.page-login
    .container
        margin: 40px 0 
    .titulo-login
        display: none
    .Login.caixa-login 
        height: 454px;
        background: #EEF2F6;
        border-radius: 8px;
        text-align: center
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        h3
            font-weight: bold;
            font-size: 32px;
            line-height: 53px;
            text-align: center;

            color: #464646;
        fieldset
            label
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: #464646;
            button
                margin-top: 10px
    .Cadastro.caixa-cadastro 
        height: 454px;
        background: #F6F2ED;
        border-radius: 8px;
        text-align: center
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        h3
            font-weight: bold;
            font-size: 32px;
            line-height: 53px;
            text-align: center;
            color: #464646;
        fieldset
            p
                display: none   
            button
                margin-top: 80px
    @media mobile
        .container 
            padding: 15px

        .Login.caixa-login 
            width: 100%
            margin-bottom: 50px
            background: #EEF2F6;
            border-radius: 8px;
            text-align: center


        .Cadastro.caixa-cadastro 
            width: 100%
            background: #F6F2ED;
            border-radius: 8px;
            text-align: center
        
.botao-commerce.botao-efetuar-login
    background: #EB6323
    width: 100%
    border: none
    color: white
    width: 347px;
    height: 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 18.7692px;
    line-height: 23px;
    padding-top: 10px;
    text-align: center;
    color: #FFFFFF;

.botao-commerce.botao-novo-cadastro.pointer
    background: #EB6323
    width: 100%
    border: none
    color: white
    width: 347px;
    height: 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 18.7692px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
