.breadcrumb
    background: #FFFCEF;
    height: 70px;
    margin-bottom: 55px
    &__container
        display: flex
        justify-content: center
        align-items: center
        gap: 15px
        height: 70px;

    &__label, &__sep 
        display: inline-block 
        font-style: normal;
        font-weight: normal;
        font-size: 18.7143px;
        line-height: 17px;
        text-transform: capitalize;
        color: #464646;

    &__item
        &:last-child 
            .breadcrumb__label 
                font-style: normal;
                font-weight: bold;
                font-size: 18.7143px;
                line-height: 17px;
                text-transform: capitalize;
                color: #FFD423;