.main
    &__container 
        max-width: 1140px
        margin: 0 auto
        padding 0 15px

button.button.button--menu
    position relative
    width: 30px
    height: 20px
    background: transparent
    :nth-child(1)
        display: block
        width: 20px
        height: 4px
        background: #4D4D4D
        position: absolute
        top: 0

    :nth-child(2)
        display: block
        width: 20px
        height: 4px
        background: #4D4D4D
        position: absolute
        top: 50%
        transform: translateY(-50%)
    :nth-child(3)
        display: block
        width: 20px
        height: 4px
        background: #4D4D4D
        position: absolute
        bottom: 0
