.main
    &__container 
        max-width: 1630px
        margin: 0 auto
        padding 0 15px

button.button.button--menu
    position relative
    width: 30px
    height: 20px
    background: transparent
    :nth-child(1)
        display: block
        width: 20px
        height: 4px
        background: #4D4D4D
        position: absolute
        top: 0

    :nth-child(2)
        display: block
        width: 20px
        height: 4px
        background: #4D4D4D
        position: absolute
        top: 50%
        transform: translateY(-50%)
    :nth-child(3)
        display: block
        width: 20px
        height: 4px
        background: #4D4D4D
        position: absolute
        bottom: 0

.titulo
    position: relative
    margin: auto
    @media mobile
        text-align: center
    span
        position relative
        font-size: 48px
        font-weight: 700
        line-height: 48px
        color: #4D4D4D
        z-index 1
        @media mobile
            font-size: 30px
        
    &:after
        bottom: 0
        background: #F7B84B
        width: 100%
        height: 17px
        content: ""
        display: block
        position: absolute
        z-index 0
        left: 0