.slick
    &-arrow 
        position: absolute 
        top: 50%
        z-index: 100

        transform: translateY(-50%)
        transition: all .2s ease-in-out

    &-next
        right: 20px 

    &-prev 
        left: 20px
    
    &-list, &-track
        min-width: 100%

    

    &-dots
        display: flex
        gap: 6px
        align-items: center
        justify-content: center
        padding: 10px
        li
            border-radius: 50%
            background: #808080
            width: 10px
            height: 10px
            position relative
            &.slick-active
                background: #E5961E
                width: 11px
                height: 11px

            button
                font-size: 0
                opacity 0
                position absolute
                width: 100%
                height: 100%
                padding: 0
                min-width: 1px
                min-height: 1px


.banner--home
    position relative
    .slick-dots
        position: absolute
        bottom: 25px
        left: 68%

.banner--extra1
    position relative
    .slick-dots
        padding-top: 25px
        padding-bottom: 0