.product
    &__header 
        margin-bottom: 20px 
        
    &__link 
        display: block 

    &__image 
        display: block 
        width: auto
        object-fit: contain
        margin: 0 auto

    &__payment
        br
            display: none


.lazy-new
    -webkit-filter: blur(10px)
    filter: blur(10px)
    -moz-filter: blur(10px)
    -o-filter: blur(10px)
    -ms-filter: blur(10px)
    img
        height 100%
        width auto
