<footer class="footer">
    
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__box">
                <svg xmlns="http://www.w3.org/2000/svg" width="145" height="82.684" viewBox="0 0 145 82.684">
                    <g id="Logo_Emana" data-name="Logo Emana" transform="translate(-0.012 -7)">
                      <g id="Layer_1" data-name="Layer 1" transform="translate(0.012 7)">
                        <text id="emana" transform="translate(0 73.684)" fill="#333" font-size="41" font-family="Axiforma-SemiBold, Axiforma" font-weight="600"><tspan x="0" y="0" letter-spacing="-0.02em">eman</tspan><tspan y="0">a</tspan></text>
                        <path id="Caminho_1" data-name="Caminho 1" d="M45.78,45.7,68.991,0a61.213,61.213,0,0,1-6.278,25.656A58.859,58.859,0,0,1,45.78,45.7Z" transform="translate(23.311)" fill="#333"/>
                        <path id="Caminho_2" data-name="Caminho 2" d="M98.706,12.05,53.43,36.2A61.137,61.137,0,0,1,73.351,18.8,59.024,59.024,0,0,1,98.706,12.05Z" transform="translate(27.206 6.136)" fill="#333"/>
                      </g>
                    </g>
                </svg>
            </div>
            <div class="footer__box footer__box--institutional">
                <h3 class="footer__title title title--small">Institucional</h3>
                <ul class="footer__custom">
                    {% for link in settings.instutitional %}
                        {% if link.url != "" and link.name != "" %}
                        <li>
                            <a class="footer__link" href="{{ link.url }}" class="footer__custom-link">{{ link.name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                </ul>
            </div>
            <div class="footer__box footer__box--institutional">
                <h3 class="footer__title title title--small">Links Úteis</h3>
                <ul class="footer__custom">
                    {% for link in settings.ajuda %}
                        {% if link.url != "" and link.name != "" %}
                        <li>
                            <a class="footer__link" href="{{ link.url }}" class="footer__custom-link">{{ link.name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                </ul>
            </div>

            <div class="footer__box footer__box--institutional" id="contato">
                <h3 class="footer__title title title--small">Contato
                </h3>
                <ul class="footer__custom">
                    <li class="footer__custom-item">
                        <a class="footer__custom-link" href="mailto:{{ settings.email }}">{{ settings.email }}</a>
                    </li>
                </ul>
            </div>
            
            {% if settings.facebook or 
                settings.twitter or 
                settings.whatsapp or
                settings.pinterest or 
                settings.youtube or 
                settings.instagram
            %}

            <div class="footer__box">
                <h3 class="footer__title title title--small">Conecte-se</h3>
                {% element 'snippets/socials' %}
            </div>
            {% endif %}
            
        </div>
    </div>
</footer>
{% element 'snippets/reguacrowd' %}
