.paginate 
    text-align: center 
    &__container 
        display: flex 
        justify-content: center 
        align-items: center 
    &__pages
        display: inline-flex 
        flex-flow: row wrap 
        margin: 5px -5px

    &__link a
        width: 40px
        height: 40px
        flex: 0 0 auto
        display: flex 
        justify-content: center 
        align-items: center 
        color: #515151
        &:hover 
            text-decoration: none 
            color: #fff
            background: #EB6323
    &__link--next
    &__link--prev
        color: #EB6323
    &__link--current 
        width: 40px
        height: 40px
        flex: 0 0 auto
        display: flex 
        justify-content: center 
        align-items: center 
        background: #EB6323
        color: #fff


    &__link 
        &--first, &--prev, &--next, &--last 
            a 
                &:before 
                    font-size: 22px 

        &--first a:before 
            icon: '\f100'

        &--prev a:before 
            icon: '\f104'

        &--next a:before 
            icon: '\f105'

        &--last a:before 
            icon: '\f101'

@media (min-width: 992px) 
    .paginate 
        padding-right: 20px
        text-align: left

        &__container 
            display: flex 
            justify-content: center 
            align-items: center 

        &__pages 
            flex: 0 0 auto 

        &__count 
            flex: 1 
            min-width: 0 